.hourData {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    text-align: center;
    
}

::ng-deep .hourTile {
    border-right: 1px solid rgb(184, 182, 182);
    border-radius: 5px;
}

.humidity {
    color: rgb(95, 95, 201);
}