<mat-card style="margin: 10px;">
<mat-card-header>
    <mat-card-title style="padding-bottom: 10px;">Next Hours</mat-card-title>
</mat-card-header>
<mat-divider style="padding: 10px"></mat-divider>
<mat-card-content class="hours">
    <mat-grid-list cols="6" rowHeight="100px">
        @for (data of listData; track data) {
            <mat-grid-tile
            class="hourTile"
            colspan="1"
            rowspan="1">
            <div class="hourData">
                <div class="padding5">{{data?.main?.temp | number: '1.0-0'}}&deg;</div>
                <div class="humidity">{{data?.main?.humidity}}&percnt;</div>
                <div><img [src]="getIconImage(data.weather[0].icon)" alt="" class="icon-img"></div>
                <div>{{data?.dt_txt | date:'shortTime'}}</div>
            </div>
        </mat-grid-tile>
        }
    </mat-grid-list>
</mat-card-content>
</mat-card>