.dailyData {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    text-align: center;
}

.humidity {
    color: rgb(95, 95, 201);
}

.dailyIcon {
    width: 18%;
}

.dayInfo {
    width: 62%;
}

.temperature {
    display: flex;
    width: 20%;
}

::ng-deep .dailyTile {
    border-bottom: 1px solid rgb(184, 182, 182);
    border-radius: 5px;
}